.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab {
  padding-right: 60px;
  padding-left: 60px;
  font-family: Exo, sans-serif;
  color: #46b7b9;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar {
  background-color: transparent;
}

.body {
  background-color: #0b042e;
}

.image {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.section {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media-button {
  position: relative;
  max-width: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-media-button._2 {
  position: relative;
  max-width: 70px;
}

.social-media-button._3 {
  position: relative;
  background-image: url('../images/Twitter.png');
  background-position: 0px 0px;
  background-size: 78px;
}

.social-media-button._4 {
  position: relative;
  background-image: url('../images/FB.png');
  background-position: 0px 0px;
  background-size: 88px;
}

.logo {
  max-height: 150px;
  margin-bottom: -9px;
  padding-bottom: 0px;
}

.div-block-2 {
  width: 45%;
  margin-bottom: 50px;
  padding: 15px 15px 5px;
  border: 4px solid #b162b9;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#112627), to(#112627));
  background-image: linear-gradient(180deg, #112627, #112627);
}

.heading {
  font-family: Exo, sans-serif;
  color: #46b7b9;
  text-align: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  width: 400px;
  height: 30px;
  margin-right: 50px;
  padding: 15px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.subscribe-button {
  border: 2px solid #000;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b162b9), to(#b162b9));
  background-image: linear-gradient(180deg, #b162b9, #b162b9);
  font-family: Exo, sans-serif;
  text-transform: uppercase;
}

.subscribe-button:hover {
  border-width: 4px 0px 0px 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#420c7b), to(#420c7b));
  background-image: linear-gradient(180deg, #420c7b, #420c7b);
}

.container-2 {
  margin-top: 40px;
}

.heading-2 {
  color: #40adb0;
  text-align: center;
}

.paragraph {
  color: #40adb0;
  font-size: 17px;
}

.heading-3 {
  color: #40adb0;
}

.heading-4 {
  color: #40adb0;
}

.heading-5 {
  color: #40adb0;
}

.heading-6 {
  color: #40adb0;
}

.div-block-5 {
  height: 350px;
}

.paragraph-2 {
  color: #40adb0;
}

.rich-text-block {
  color: #40adb0;
}

.image-2 {
  max-height: 600px;
  padding: 10px 30px 10px 0px;
}

.columns {
  margin: 60px;
}

.heading-7 {
  margin-top: 0px;
  color: #6ee6e7;
  font-size: 26px;
}

.download {
  max-width: 250px;
  padding: 20px;
}

.div-block-6 {
  width: 1100px;
}

.paragraph-3 {
  display: none;
}

.columns-2 {
  display: none;
}

.sm {
  width: 70px;
  height: 70px;
  max-height: 70px;
  max-width: 70px;
}

.image-3 {
  display: none;
}

@media (max-width: 991px) {
  .menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    clear: none;
  }
  .icon {
    color: #40adb0;
  }
  .menu-button-2 {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
  .icon-2 {
    color: #40adb0;
  }
}

@media (max-width: 479px) {
  .body {
    overflow: hidden;
  }
  .image {
    z-index: 0;
    overflow: visible;
  }
  .div-block {
    overflow: hidden;
  }
  .logo {
    max-height: none;
    max-width: 90vw;
    margin-top: 55px;
    margin-bottom: 10px;
  }
  .div-block-2 {
    overflow: hidden;
    width: 85%;
    margin-bottom: 60px;
  }
  .div-block-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-4 {
    width: 80%;
    margin-right: 0px;
  }
  .subscribe-button {
    margin: 16px;
  }
  .section-2 {
    overflow: hidden;
  }
  .image-2 {
    display: none;
    overflow: visible;
  }
  .columns {
    margin: 10px;
    text-align: center;
  }
  .heading-7 {
    display: none;
    overflow: visible;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .download {
    max-width: 80%;
  }
  .download.google {
    padding-right: 30px;
    padding-left: 30px;
  }
  .container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-6 {
    width: 100%;
  }
  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .paragraph-3 {
    display: block;
    color: #6ee6e7;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
  }
  .m-phorn {
    padding: 7px;
  }
  .columns-2 {
    display: block;
  }
  .sm {
    max-height: 65px;
    max-width: 65px;
  }
  .image-3 {
    display: block;
  }
}

