@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');


body {
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    background-color: #0b042e;
    color: #40adb0;
}

/*--- Navigation ---*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: transparent!important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .navlink {
    
}